*{
  font-family: "Montserrat";
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 68px;
  margin: 45px 100px 50px 100px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* margin: 15px; */
  justify-content: end;

}

.liste {
  display: flex;
  list-style-type: none;
  font-size: 24px;

}

header li {
  text-transform: none;
  /* padding-inline: 40px; */
}

.aPropos {
  margin-left: 60px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: white;
}

.bannier {
  display: flex;
  justify-content: center;
  width: auto;
  height: 223px;
  margin: 0 100px 40px 100px;
  background: rgba(0, 0, 0, 0.6) url('./assets/IMG.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  background-blend-mode: darken;
}